.nav-header {
  position: fixed;
  background-color: rgb(29, 25, 22);
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  z-index: 2;
  /* opacity: 0.6; */
  height: 100px;
}

.nav-empty-space {
  height: 105px;
  /* border: 5px solid red; */
}

.nav-header div {
  margin: 0 15px;
  padding: 10px;
}

.nav-header .nav-logo {
  width: 50px;
}

.nav-header div.nav-text {
  transition: 0.5s;
  text-transform: uppercase;
}

.nav-header div.nav-text:hover {
  color: #ee4444;
  /* text-shadow: 0 0 15px #ee4444; */
}

.banner-container {
  width: 100%;
  height: 700px;
  overflow: hidden;
  display: flex;
  align-items: end;
}

.banner {
  /* --banner-url: "";
  background-image: var(--banner-url); */
  width: 100%;
  height: 700px;
  box-shadow: 0 0 80px 28px rgb(29, 25, 22) inset;
  background-size: cover;
}

.banner-overlay-container {
  margin-left: 40px;
  top: 20%;
  position: absolute;
  z-index: 1;
}

.banner-overlay-container > h1 {
  font-size: 3rem;
}

.banner-overlay-container > p {
  width: 40%;
  font-weight: 700;
}

.banner-overlay-container > button {
  border: 1px solid #ee4444;
  background-color: #ee4444;
  padding: 12px 20px;
  font-weight: 700;
  text-align: center;
}

.banner-overlay-container > button:hover {
  background-color: rgb(235, 29, 29);
}

.add-movie-form > label {
  margin-bottom: 20px;
}

.movie-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movies-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  width: 300px;
}

.movie-card > img {
  border-radius: 10px;
  width: 300px;
  height: 450px;
}
.movie-card img:hover {
  /* border: 10px solid red; */
  transform: scale(1.3);
  box-shadow: 0 0 80px 80px rgb(29, 25, 22);
  transition: all 0.5s ease-in-out;
}

.filter-list {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.filter-list > div {
  padding: 10px;
}

.filter-list > div:hover {
  color: #ee4444;
  cursor: pointer;
}

.filter-checked {
  border: 1px solid #ee4444 !important;
}

.movie-details-card {
  display: flex;
}

.movie-details-col1 {
  margin-left: 20px;
}
.movie-details-col2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 30px;
  width: 500px;
}

.crud-btn-container {
  display: flex;
  gap: 25px;
}

.crud-btn {
  width: 140px;
  font-weight: 600;
  background-color: #ee4444;
  border: 2px solid #ee4444;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.crud-btn:hover {
  border: 2px solid white;
  transform: scale(1.3);
}

.crud-btn:active {
  border: 2px solid #ee4444;
  background-color: white;
  color: #ee4444;
  transition: none;
}

.about-us-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about-us-title {
  display: flex;
  justify-content: center;
}

.member-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.team-member {
  border: 1px solid #ee4444;
  border-radius: 10px;
  height: 450px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.member-img {
  width: 230px;
  border-radius: 10px;
}

.team-socials {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
}

.team-socials a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.team-socials a:hover div {
  color: #ee4444;
}

.img-social {
  width: 35px;
  padding: 5px 0;
}

.movie-picker-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.question-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-list {
  border: 1px solid #ee4444;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 30%;
  padding: 10px 0;
  /* gap: 30px; */
}

.answer {
  width: 100%;
  cursor: pointer;
}

.answer div {
  text-align: center;
  padding: 20px 0;
  font-weight: 700;
}

.answer:hover {
  background-color: #ee4444;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.genre-div {
  height: 40px;
  width: 9%;
  text-align: center;
  border: 1px solid #272320;
  border-radius: 10px;
  background-color: #272320;
}

.genre-div:hover {
  border: 1px solid #ee4444;
}
