.nav-header {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
}

.nav-header div {
  margin: 0 15px;
  padding: 10px;
}

.nav-header .nav-logo {
  width: 50px;
}

.nav-header div.nav-text {
  transition: 0.5s;
  text-transform: uppercase;
}

.nav-header div.nav-text:hover {
  /* color: #ee4444; */
  text-shadow: 0 0 15px #ee4444;
}

.banner-container {
  width: 100%;
}

.banner {
  height: 700px;
  /* background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)); */
  background-repeat: no-repeat;
  box-shadow: 0 0 80px 28px rgb(29, 25, 22) inset;
  background-size: cover;
}

.banner-overlay-container {
  margin-left: 20px;
  position: absolute;
  top: 20%;

  /* border: 1px solid red; */
}

.banner-overlay-container > h1 {
  font-size: 3rem;
}

.banner-overlay-container > p {
  width: 40%;
  font-weight: 700;
}

.banner-overlay-container > button {
  border: 1px solid #ee4444;
  background-color: #ee4444;
  padding: 12px 20px;
  font-weight: 700;
  text-align: center;
}

.banner-overlay-container > button:hover {
  background-color: rgb(235, 29, 29);
}
